[MASTER]
load-plugins=pylint_django
django-settings-module=core.settings
ignore=migrations,Dockerfile,static,venv
ignore-paths=^.*migrations.*$,^.*venv.*$

[MESSAGES CONTROL]
disable=
    missing-docstring,
    too-few-public-methods,
    no-member,
    C0114, # missing-module-docstring
    C0115, # missing-class-docstring
    C0116  # missing-function-docstring

[FORMAT]
max-line-length=120
